{% extends 'main.html' %}
{% load static %}

{% block content%}
    {% include 'include/slideshow.html' %}
    <br>
{#    {% include 'include/slideshow.html' %}#}

  <div class="row">
      {% for item in product %}
		<div class="col-lg-3">
			<img class="thumbnail" src="{{item.imageURL}}">
            <small><h6 align="center"><strong>${{ item.price|floatformat:2 }}</strong></h6></small>
			<div class="box-element product">
				<h6 style="float: right"><strong>{{ item.name }}</strong></h6>
				<hr>

				<button data-product="{{ item.id }}" data-action="add" class="btn btn-outline-secondary add-btn update-cart">
                    Add to Cart
                    <i class="fas fa-shopping-cart ml-3"></i>
                </button>
				<a class="btn btn-outline-success" style="float: contour" href="#">View</a>


			</div>
        <br>
        </div>
      {% endfor %}
  </div>

{% endblock %}